<div id="<%= dom_id(contract) %>">
  <p>
    <strong>Title:</strong>
    <%= contract_link(contract.user) %><br>
  </p>

  <p>
    Status: <%= contract_icon(contract) %> <%= contract_status(contract) %>
  </p>

</div>
